<%= form_for (@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_field :task %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>	